@media (max-width: 1000px) {
  .kappy-header-mobile-nav {
    display: block;
  }

  .kappy-header {
    justify-content: space-between;
  }

  .kappy-header-nav {
    display: none;
  }

  .kappy-header-korner {
    display: none;
  }

}
