.kappy-header {
  display: flex;
  align-items: center;
  gap: 8em;
  width: 90%;
  margin: 0 auto;
}

.kappy-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  background-color: #e6e8eb;
  padding: 0.75rem 1.5rem;
  border-radius: 34px;
  color: #165abf;
  font-size: 20px;
  font-weight: 900;
}

.kappy-header-nav {
  display: flex;
  gap: 8rem;
  background-color: #dae5f4;
  padding: 1.25rem 3.1rem;
  border-radius: 42px;
  font-weight: 700;
}

.kappy-header-nav a {
  text-decoration: none;
  color: #252528;
}
