@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Black.ttf") format("truetype");
  font-style: normal;
}

.card-3-div {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  width: 1198px;
  padding: 2rem;
  border-radius: 32px;
  margin-top: 3rem;
}

.card-3-div > figure img {
  width: 375px;
  height: 375px;
}

.card-3-div > figure {
  text-align: center;
}

.card-3-div-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-3-div-div-1 h2 {
  text-align: center;
  margin: 0 auto;
  color: #f9fafb;
  font-size: clamp(1.1rem, 5vw, 2.5rem);
}

.card-div-div-1 figure {
  width: 47px;
  height: 47px;
}

.card-3-div-div-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-3-div-num-div {
  display: flex;
  gap: 2rem;
}

.card-3-div-num-div div {
  font-size: 1.25rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

/* For mobile */
.card-3-div-div-2-mobile {
  display: none;
}

.numSelected {
  background-color: #1a222f;
  color: #d9d9d9;
}

.numNotSelected {
  background-color: #ffffff;
  color: #000000;
}

.card-3-div-div-2 p {
  max-width: 491px;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .card-3-div {
    width: 280px;
  }

  .card-3-div > figure img {
    width: 105px;
    height: 105px;
  }

  .card-3-div-num-div {
    display: none;
    /* visibility: hidden; */
  }

  .card-3-div-div-2-mobile {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }

  .card-3-div-div-2-mobile div {
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .numNotSelected {
    background-color: #165abf;
    color: #d9d9d9;
  }

  .c {
    width: 17px;
    height: 17px;
  }

  .card-3-div-div-2 p {
    text-align: center;
  }
}
