@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Black.ttf") format("truetype");
  font-style: normal;
}

.card3-div {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  min-width: 1198px;
  padding: 2rem;
  border-radius: 32px;
  margin-top: 3rem;
}

.card3-div > figure img {
  width: 375px;
  height: 375px;
}

.card3-div > figure {
  text-align: center;
}

.card-div-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-div-div-1 h2 {
  text-align: center;
  margin: 0 auto;
  color: #f9fafb;
}

.card-div-div-1 figure {
  width: 47px;
  height: 47px;
}

.card-div-div-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-div-num-div {
  display: flex;
  gap: 2rem;
}

.card-div-num-div div {
  font-size: 1.25rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.numSelected {
  background-color: #1a222f;
  color: #d9d9d9;
}

.numNotSelected {
  background-color: #ffffff;
  color: #000000;
}

.card-div-div-2 p {
  max-width: 491px;
  color: #ffffff;
}
