@media (max-width: 1000px) {
  /* Second Section */
  .chefs-second-sec-div figure {
    width: 251px;
    margin: 4rem 0;
  }

  .chefs-second-sec-div > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chefs-second-sec-child-div {
    text-align: center;
    margin-top: 3rem;
    align-self: center;
  }

  /* Fifth Section */
  .chefs-fifth-sec-div-2 {
    grid-template-columns: minmax(0, 350px);
  }

  /* Fourth Section */
  .chefs-fourth-sec > div {
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    text-align: center;
  }

  .chefs-fourth-sec figure {
    width: 186px;
  }

  /* Sixth Section */
  .chefs-sixth-sec {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .chefs-sixth-sec button,
  .chefs-sixth-sec .chefs-contact-btn {
    margin: 3rem auto 0 auto;
  }
}
